@import 'colors.css';

decoration, window, window.background, window.titlebar, headerbar, .titlebar, * {
    border-radius: 0px;
}

.window-frame, .window-frame:backdrop, .background.csd {
    border-radius: 0px;
    box-shadow: none;
}
