recent-windows {
    binds {
        super+Tab         { next-window     scope="workspace"; }
        super+Shift+Tab   { previous-window scope="workspace"; }
    }
}
overview {
    zoom 0.3
}   
window-rule {
    draw-border-with-background false
    geometry-corner-radius 0
}

blur {
    off
    passes 3
    offset 3
    saturation 1.5
}

window-rule {
  match title="Helium"
  open-maximized true
}


window-rule {
    match app-id="clip"
    open-floating true
    default-column-width { fixed 900; }
    default-window-height { fixed 500; }
}


window-rule {
    match app-id="imv$"
    open-floating true
    default-column-width { fixed 1000; }
    default-window-height { fixed 700; }
}

window-rule {
    match app-id="xdg-desktop-portal-gtk"
    default-column-width { fixed 1000; }
    default-window-height { fixed 700; }
    
    open-floating true
}

layer-rule {
    match namespace="^awww-daemon$"
    place-within-backdrop true
}


