spawn-sh-at-startup "swaybg -m fill -i $(cat ~/.config/wallpaper)"
spawn-at-startup "foot" "--server"
spawn-at-startup "mako"
spawn-sh-at-startup "gammastep -l -6.2:106.8 -t 5500:3500"
spawn-sh-at-startup "waybar -c ~/.config/waybar/main.jsonc -s ~/.config/waybar/main.css"
spawn-at-startup "~/.local/bin/sleep.sh"
spawn-at-startup "~/.local/bin/media.sh"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "-max-items" "100" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "-max-items" "100" "store"
